<h1>Here are all my pins!</h1>

<% @pins.each do |pin| %>
  <div class="pin">
    <a href="<%= pin.url %>">
      <img src="<%= pin.image %>" alt="Awesome pin">
    </a>
    <p><%= pin.comment %></p>
  </div>
<% end %>