// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  display: inline-block;
  width: 30%;
  margin-right: 3%;
}

img {
  width: 100%;
}

form input, form textarea {
  margin-bottom: 20px;
}

.col-xs-6 h2 {
  margin-top: 0;
}