<% if @pin.errors.any? %>
  <% @pin.errors.full_messages.each do |error| %>
    <p style="color:red;">
      <%= error %>
    </p>
  <% end %>
<% end %>

<div class="form">
	<h3>New Pin</h3>
	<%= render "form" %>
</div>